/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
body, html {
  background-color: #F4F3EE;
  color: #333333; }

h1 {
  font-family: "Maison Neue Bold", Calibri, Arial, Roboto, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0px; }
  @media only screen and (min-width: 480px) {
    h1 {
      font-size: 40px; } }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 50px; } }
  @media only screen and (min-width: 992px) {
    h1 {
      font-size: 60px;
      line-height: 50px; } }

h2 {
  font-family: "Maison Neue Medium", Calibri, Arial, Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0px;
  font-size: 18px;
  line-height: 23px; }
  @media only screen and (min-width: 992px) {
    h2 {
      letter-spacing: 1.14px;
      font-size: 20px; } }

h3 {
  margin-top: 0px; }

p {
  font-family: "Maison Neue Medium", Calibri, Arial, Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 23px; }

.blog-title {
  font-family: "Maison Neue Bold", Calibri, Arial, Roboto, sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #122434;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.26px;
  line-height: 16px; }

.details-container {
  margin-top: 50px;
  padding-left: 15px; }

.details-small, .details-small a {
  font-family: "Maison Neue Mono", Calibri, Arial, Roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #122434;
  font-size: 10px;
  letter-spacing: 0.98px;
  line-height: 17px; }

.details-small a:hover, .details a:hover {
  color: #B1C841; }

.details, .details a {
  font-family: "Maison Neue Mono", Calibri, Arial, Roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #122434;
  font-size: 14px;
  letter-spacing: 0.98px;
  line-height: 17px; }

.section-title {
  padding-bottom: 50px;
  padding-left: 30px; }

.staff-title {
  padding-left: 15px; }

.mf-navy {
  color: #122434; }

.mf-green {
  color: #B1C841; }

.mf-white {
  color: #FFF; }

.body-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fff;
  z-index: 20;
  display: none; }

.navbar-fixed-top {
  border: none; }

nav {
  opacity: 0;
  background-color: transparent;
  position: fixed;
  top: 0; }
  nav.off-video-nav {
    background-color: #F4F3EE; }
    nav.off-video-nav li > a {
      color: #B1C841; }
      nav.off-video-nav li > a:hover {
        color: #122434; }
    nav.off-video-nav .button {
      color: #B1C841;
      border: 2px solid #B1C841; }
  nav li > a {
    font-family: "Maison Neue Mono", Calibri, Arial, Roboto, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    color: #B1C841;
    letter-spacing: 1.14px;
    text-align: center; }
    nav li > a:hover {
      background-color: transparent !important;
      color: #B1C841; }
    @media only screen and (min-width: 768px) {
      nav li > a {
        color: #FFF; } }
  nav .navbar-nav {
    margin: 0px -15px; }
  nav .navbar-nav > li > a {
    padding: 27px 15px; }
    @media only screen and (min-width: 768px) {
      nav .navbar-nav > li > a {
        padding: 10px 15px; } }
  nav .navbar-toggle {
    width: 100%;
    text-align: center;
    margin: 8px 0px;
    color: #333333;
    background-color: #fff;
    border-radius: 0px;
    margin: 0px;
    padding: 17px 10px; }
    @media only screen and (min-width: 768px) {
      nav .navbar-toggle {
        background: none; } }
  nav .button {
    font-family: "Maison Neue Mono", Calibri, Arial, Roboto, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #FFF;
    text-transform: uppercase;
    background: transparent;
    font-size: 14px;
    letter-spacing: 1.14px;
    line-height: 14px;
    padding: 9px 16px !important; }
  nav #navbar {
    background-color: #fff;
    max-height: 382px; }
    @media only screen and (min-width: 768px) {
      nav #navbar {
        background-color: transparent;
        padding-top: 20px;
        padding-bottom: 20px; } }

button {
  font-family: "Maison Neue Mono", Calibri, Arial, Roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #B1C841;
  text-transform: uppercase;
  border: 2px solid #B1C841;
  background: transparent;
  font-size: 14px;
  letter-spacing: 1.14px;
  line-height: 14px;
  padding: 9px 16px; }

ul {
  list-style: none;
  margin: 0px;
  padding: 0px 0px 0px 15px; }

a {
  color: #B1C841;
  text-decoration: underline;
  font-family: "Maison Neue Medium", Calibri, Arial, Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 23px; }
  a:hover {
    color: #122434; }
  a:focus {
    color: #B1C841;
    text-decoration: none;
    background-color: transparent !important;
    outline: none; }

section {
  padding: 50px 0px; }
  section#landing-page {
    padding-top: 0px; }

#fixed-logo {
  position: absolute;
  margin-top: 200px;
  height: 40px; }
  @media only screen and (min-width: 768px) {
    #fixed-logo {
      position: fixed; } }

#landing-page #video-container {
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: url("../img/video-poster.png") no-repeat;
  background-position: center;
  width: 100%;
  height: 445px;
  height: 480px; }
  @media only screen and (min-width: 768px) {
    #landing-page #video-container {
      background: none;
      background-position: center;
      height: 100%; } }
#landing-page video {
  position: relative;
  z-index: 0;
  display: none; }
  @media only screen and (min-width: 768px) {
    #landing-page video {
      display: block; } }
#landing-page video.fillWidth {
  width: 100%; }
#landing-page #title-text {
  position: absolute;
  top: 40%;
  left: 5%;
  padding-top: 20px; }
  @media only screen and (min-width: 768px) {
    #landing-page #title-text {
      padding-top: 0px; } }
#landing-page .title-subheading {
  position: absolute;
  top: 25%;
  left: 5%;
  color: #FFF;
  display: block; }
  @media only screen and (min-width: 768px) {
    #landing-page .title-subheading {
      display: block; } }
  @media only screen and (min-width: 992px) {
    #landing-page .title-subheading {
      font-size: 20px; } }
#landing-page .chevron {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0);
  cursor: pointer;
  position: absolute;
  -webkit-animation: pulse 2s infinite ease-in-out;
  animation: pulse 2s infinite ease-in-out; }
@-webkit-keyframes pulse {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
  @media only screen and (min-width: 992px) {
    #landing-page .chevron {
      margin: 200px auto 0px auto; } }
  #landing-page .chevron a {
    width: 34px;
    height: 12px;
    display: inline-block;
    background: url("../img/chevron-white.png") no-repeat;
    background-size: 34px 12px; }
  #landing-page .chevron a:focus {
    background-color: transparent !important; }

#about article {
  padding-right: 40px;
  margin-bottom: 30px; }

#articles-list li {
  margin-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    #articles-list li a {
      font-size: 25px; } }

.work-article {
  height: 330px;
  padding-top: 50px; }
  .work-article img {
    margin-top: 0 px;
    margin-bottom: 25px; }
  .work-article .fitnessfirst-logo {
    width: 207px;
    height: 41px;
    display: inline-block;
    margin-bottom: 25px;
    background: url("../img/fitness-first.png") no-repeat;
    background-size: 207px 41px; }
  .work-article .coles-logo {
    width: 127px;
    height: 39px;
    display: inline-block;
    margin-bottom: 25px;
    background: url("../img/coles.png") no-repeat;
    background-size: 127px 39px; }
  .work-article .guardian-logo {
    width: 168px;
    height: 33px;
    display: inline-block;
    margin-bottom: 25px;
    background: url("../img/guardian.png") no-repeat;
    background-size: 168px 33px; }
  @media only screen and (min-width: 480px) {
    .work-article {
      height: 250px; } }
  @media only screen and (min-width: 768px) {
    .work-article {
      padding-top: 80px; } }

#work {
  background-color: #FFF; }

.article-divider {
  border-top: 1px solid #eee; }

#contact {
  padding: 0px; }

footer .contact-section {
  padding: 70px 25px;
  height: 368px; }
  footer .contact-section h2 {
    letter-spacing: 3px; }
  footer .contact-section address {
    margin: 30px 0 30px 0; }
  footer .contact-section .space {
    margin-bottom: 20px; }
footer #contact-syd {
  background-color: #122434;
  color: #fff !important;
  z-index: 5; }
  footer #contact-syd .details, footer #contact-syd .details a {
    color: #fff; }
  footer #contact-syd .details a:hover {
    color: #B1C841; }
footer #contact-ldn {
  background-color: #B1C841; }
  footer #contact-ldn .details a:hover {
    color: #fff; }
footer .address {
  background-color: #B1C841;
  position: relative; }
  footer .address .blue-overflow {
    background-color: #122434;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 50%;
    z-index: 1;
    display: none; }
    @media only screen and (min-width: 768px) {
      footer .address .blue-overflow {
        display: block; } }
  footer .address .mobile-border-fix {
    padding-left: 0px;
    padding-right: 0px; }
    @media only screen and (min-width: 768px) {
      footer .address .mobile-border-fix {
        padding-left: 15px;
        padding-right: 15px; } }

#soda {
  background: url("../img/soda.png") no-repeat 30px;
  background-size: 39px 49px;
  padding-left: 90px; }
  #soda p {
    display: inline;
    padding: 0px 20px 0 0px; }
  #soda a {
    text-decoration: none; }

#thats-it {
  background-color: #fff;
  text-align: center; }
  @media only screen and (min-width: 320px) {
    #thats-it {
      text-align: left; } }
  @media only screen and (min-width: 480px) {
    #thats-it {
      text-align: left; } }
  @media only screen and (min-width: 768px) {
    #thats-it {
      text-align: center; } }
  @media only screen and (min-width: 992px) {
    #thats-it {
      text-align: center; } }

.footer {
  font-family: "Maison Neue Mono", Calibri, Arial, Roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #122434; }

#loader {
  background-color: #122434;
  z-index: 1;
  position: fixed; }

svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto; }

.path {
  fill: none;
  stroke: #B1C841;
  stroke-width: 2;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 3.5s linear forwards;
  -webkit-animation: draw 3.5s linear forwards;
  -moz-animation: draw 3.5s linear forwards;
  -ms-animation: draw 3.5s linear forwards;
  -o-animation: draw 3.5s linear forwards;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s; }

@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0; } }
@keyframes draw {
  to {
    stroke-dashoffset: 0; } }
/* ============================================================
   MOBILE RETINA
   ============================================================ */
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
  #landing-page .chevron a {
    background-image: url("../img/chevron-white@2x.png"); }

  .work-article .fitnessfirst-logo {
    background-image: url("../img/fitness-first@2x.png"); }

  .work-article .coles-logo {
    background-image: url("../img/coles@2x.png"); }

  .work-article .guardian-logo {
    background-image: url("../img/guardian@2x.png"); }

  #soda {
    background-image: url("../img/soda.png"); } }
.careers nav {
  opacity: 1; }
.careers .job-listing {
  /* FF3.6+ */
  background: -webkit-gradient(linear, left, right, color-stop(49%, #122434), color-stop(48%, #B1C841), color-stop(100%, #B1C841));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #122434 49%, #B1C841 49%, #B1C841 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(left, #122434 49%, #B1C841 49%, #B1C841 100%); }
  .careers .job-listing .container {
    padding-right: 0px;
    padding-left: 0px; }
  @media only screen and (min-width: 768px) {
    .careers .job-listing {
      padding-right: 15px;
      padding-left: 15px; } }

#whr_embed_hook .whr-items {
  display: block !important;
  height: auto;
  padding: 25px; }
  @media only screen and (min-width: 768px) {
    #whr_embed_hook .whr-items {
      width: 100%; } }
#whr_embed_hook .whr-group {
  padding: 20px 20px 0px 20px; }
  #whr_embed_hook .whr-group a {
    text-decoration: none;
    pointer-events: none; }
#whr_embed_hook .whr-title {
  margin-top: 20px;
  margin-bottom: 5px; }
  #whr_embed_hook .whr-title a {
    font-family: "Maison Neue Mono", Calibri, Arial, Roboto, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px; }
#whr_embed_hook .whr-info {
  display: none; }
#whr_embed_hook h2:nth-child(3) {
  background-color: #122434;
  width: 100%;
  display: block;
  z-index: 5;
  padding-left: 40px; }
  #whr_embed_hook h2:nth-child(3) a {
    color: #FFF;
    z-index: 5; }
  @media only screen and (min-width: 768px) {
    #whr_embed_hook h2:nth-child(3) {
      width: 50%; } }
#whr_embed_hook ul:nth-child(4) {
  display: block;
  background-color: #122434;
  width: 100%;
  z-index: 5;
  padding-left: 40px; }
  #whr_embed_hook ul:nth-child(4) .whr-item {
    color: #FFF;
    z-index: 5; }
  #whr_embed_hook ul:nth-child(4) .whr-title a {
    color: #FFF;
    z-index: 5; }
    #whr_embed_hook ul:nth-child(4) .whr-title a:hover {
      color: #B1C841; }
  #whr_embed_hook ul:nth-child(4) ul {
    display: none; }
  @media only screen and (min-width: 768px) {
    #whr_embed_hook ul:nth-child(4) {
      width: 50%; } }
#whr_embed_hook h2:first-child {
  background-color: #B1C841;
  width: 100%;
  display: block;
  float: right; }
  #whr_embed_hook h2:first-child a {
    color: #122434; }
  @media only screen and (min-width: 768px) {
    #whr_embed_hook h2:first-child {
      width: 50%; } }
#whr_embed_hook ul:nth-child(2) {
  background-color: #B1C841;
  width: 100%;
  display: block;
  float: right;
  clear: right; }
  #whr_embed_hook ul:nth-child(2) .whr-item {
    color: #122434;
    background-color: #B1C841; }
  #whr_embed_hook ul:nth-child(2) .whr-title a {
    color: #122434; }
    #whr_embed_hook ul:nth-child(2) .whr-title a:hover {
      color: #fff; }
  #whr_embed_hook ul:nth-child(2) ul {
    display: none; }
  @media only screen and (min-width: 768px) {
    #whr_embed_hook ul:nth-child(2) {
      width: 50%; } }
